@font-face {
	font-family: 'GoodDog';
	src: url('../fonts/GoodDog/GoodDog.otf');
}
@font-face {
	font-family: 'Molot';
	src: url('../fonts/Molot/Molot.otf');
}
@font-face {
	font-family: 'BlackJack';
	src: url('../fonts/BlackJack/black_jack.ttf');
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas-neue/BebasNeue.otf');
}
@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/pacifico/Pacifico.ttf');
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster/Lobster_1.3.otf');
}
@font-face {
	font-family: 'Kingthings-Versalis';
	src: url('../fonts/Kingthings-Versalis/Kingthings_Versalis.ttf');
}
@font-face {
	font-family: 'FontleroyBrown';
	src: url('../fonts/FontleroyBrown/FontleroyBrown.ttf');
}
@font-face {
	font-family: 'DanielBlack';
	src: url('../fonts/daniel/daniel.ttf');
}
@font-face {
	font-family: 'Journal';
	src: url('../fonts/Journal/journal.ttf');
}
@font-face {
	font-family: 'HennyPenny';
	src: url('../fonts/henny-penny/HennyPenny-Regular.otf');
}
@font-face {
	font-family: 'Kavoon';
	src: url('../fonts/kavoon/Kavoon-Regular.otf');
}
@font-face {
	font-family: 'TradeWinds';
	src: url('../fonts/trade-winds/TradeWinds-Regular.ttf');
}
@font-face {
	font-family: 'AguaFina';
	src: url('../fonts/aguafina-script/AguaFinaScript-Regular.ttf');
}
@font-face {
	font-family: 'Sofadi';
	src: url('../fonts/sofadi-one/SofadiOne-Regular.ttf');
}
@font-face {
	font-family: 'FingerPaint';
	src: url('../fonts/finger-paint/FingerPaint-Regular.ttf');
}
@font-face {
	font-family: 'Bahiana';
	src: url('../fonts/bahiana/Bahiana-Regular.otf');
}
@font-face {
	font-family: 'SonsieOne';
	src: url('../fonts/sonsie-one/SonsieOne-Regular.otf');
}
@font-face {
	font-family: 'Condiment';
	src: url('../fonts/condiment/Condiment-Regular.otf');
}
@font-face {
	font-family: 'VastShadow';
	src: url('../fonts/vast-shadow/VastShadow-Regular.ttf');
}
@font-face {
	font-family: 'Elsie';
	src: url('../fonts/elsie/Elsie-Regular.otf');
}
@font-face {
	font-family: 'FFF-Tusj';
	src: url('../fonts/FFF-Tusj/FFF_Tusj.ttf');
}
@font-face {
	font-family: 'PermanentMarker';
	src: url('../fonts/permanent-marker/PermanentMarker.ttf');
}
@font-face {
	font-family: 'MyUnderwood';
	src: url('../fonts/My-UnderWood/MyUnderwood.ttf');
}
@font-face {
	font-family: 'Rothman';
	src: url('../fonts/Rothman/RothmanPlain.ttf');
}
@font-face {
	font-family: 'MomsTypewriter';
	src: url('../fonts/MomsTypewriter/Moms_typewriter.ttf');
}
@font-face {
	font-family: 'StreetwiseBuddy';
	src: url('../fonts/Streetwise-buddy/StreetwiseBuddy.ttf');
}
@font-face {
	font-family: 'Jinky';
	src: url('../fonts/Jinky/JINKY.ttf');
}
@font-face {
	font-family: 'VeggieBurger';
	src: url('../fonts/Veggieburger/VeggiMed.otf');
}
@font-face {
	font-family: 'Pecita';
	src: url('../fonts/Pecita/Pecita.otf');
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Title/Ubuntu-Title.ttf');
}
@font-face {
	font-family: 'Amadeus';
	src: url('../fonts/Amadeus/Amadeus.ttf');
}
@font-face {
	font-family: 'SpecialElite';
	src: url('../fonts/special-elite/SpecialElite.ttf');
}
@font-face {
	font-family: 'ArmaliteRifle';
	src: url('../fonts/Armalite-Rifle/armalite_rifle.ttf');
}
@font-face {
	font-family: 'CabinSketch';
	src: url('../fonts/cabinsketch/CabinSketch-Regular.otf');
}
@font-face {
	font-family: 'IntruderAlert';
	src: url('../fonts/Intruder-Alert/Intruder.ttf');
}


